TOKEN="DISCORD-BOT-TOKEN-HERE"
APP_ID="DISCORD-BOT-ID"
GUILD_ID="SERVER-ID"
YOUTUBE_API_KEY="YOUR_GOOGLE_API_KEY_HERE
DISCORD_MOD_ROLE_ID=000000000000000000  #role the Bot issues to mod
DISCORD_ADMIN_ROLE_ID=000000000000000000    #role that can assign new mods
MOD_DB_FILE="mod_database.json"
FORUM_DB_FILE="ticket_forums.json"
